<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="cocoro.user.model.User" alias="User"/>		
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<!--형태로 된 XML 파일추가시키는곳 <mapper resource="kosta/mapper/Board.xml"/>  -->
		<mapper resource="cocoro/xml/User.xml"/>
		
	</mappers>
	
</configuration>










